name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  lint-and-test:
    runs-on:
      labels: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.93.0
          components: clippy, rustfmt
      - name: Run clippy
        run: cargo clippy --all-targets --all-features -- --deny warnings
      - name: Run rustfmt
        run: cargo fmt --all -- --check
      - name: Run tests
        run: cargo test
